Pedidos/obj/
Pedidos/bin
Pedidos/.vs/
.vs/APR.Pedidos/config/
.vs/
APR.API.Pedidos/APR.Pedidos.API/bin/
APR.API.Pedidos/APR.Pedidos.API/obj/
APR.API.Pedidos/APR.Pedidos.Application/.vscode/
APR.API.Pedidos/APR.Pedidos.Application/bin/
APR.API.Pedidos/APR.Pedidos.Application/obj/
APR.API.Pedidos/APR.Pedidos.Bootstrap/bin/Debug/netcoreapp3.0/Super.GlobalPlatform.ProspectService.Application.dll
APR.API.Pedidos/APR.Pedidos.Bootstrap/bin/
APR.API.Pedidos/APR.Pedidos.Bootstrap/obj/
APR.API.Pedidos/APR.Pedidos.Domain/bin/
APR.API.Pedidos/APR.Pedidos.Domain/obj/APR.Pedidos.Domain.csproj.nuget.dgspec.json
APR.API.Pedidos/APR.Pedidos.Domain/obj/APR.Pedidos.Domain.csproj.nuget.g.props
APR.API.Pedidos/APR.Pedidos.Domain/obj/APR.Pedidos.Domain.csproj.nuget.g.targets
APR.API.Pedidos/APR.Pedidos.Domain/obj/project.assets.json
APR.API.Pedidos/APR.Pedidos.Domain/obj/project.nuget.cache
APR.API.Pedidos/APR.Pedidos.Domain/obj/Super.GlobalPlatform.ProspectService.Domain.csproj.nuget.dgspec.json
APR.API.Pedidos/APR.Pedidos.Domain/obj/Super.GlobalPlatform.ProspectService.Domain.csproj.nuget.g.props
APR.API.Pedidos/APR.Pedidos.Domain/obj/Super.GlobalPlatform.ProspectService.Domain.csproj.nuget.g.targets
APR.API.Pedidos/APR.Pedidos.Domain/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
APR.API.Pedidos/APR.Pedidos.Domain/obj/
APR.API.Pedidos/APR.Pedidos.Persistance/bin/Debug/netstandard2.1/APR.Pedidos.Application.dll
APR.API.Pedidos/APR.Pedidos.Persistance/bin/Debug/netstandard2.1/APR.Pedidos.Application.pdb
APR.API.Pedidos/APR.Pedidos.Persistance/bin/Debug/netstandard2.1/APR.Pedidos.Persistance.dll
APR.API.Pedidos/APR.Pedidos.Persistance/bin/
APR.API.Pedidos/APR.Pedidos.Persistance/obj/
APR.Pedidos.Model/obj/
APR.Pedidos.Persistance/obj/
APR.Pedidos/bin/
APR.Pedidos/obj/
APR.API.Pedidos/APR.Pedidos.Persistance/.vscode/
APR.API.Pedidos/APR.Pedidos.Bootstrap/.vscode/tasks.json
